<div class="tab-pane fade show active" id="stockDetails" role="tabpanel" aria-labelledby="details-Tab">
    <div class="row justify-content-md-center">
        <div class="col-md">
            <button type="button" class="btn btn-outline-info">New Product</button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-info">New Category</button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-info">New Product</button>
        </div>
    </div>
    <table class="table">
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Reorder Level</th>
        <th>Units</th>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

        
    </table>
</div>
