<div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="details-Tab">
    <div class="row justify-content-around">
        <div class="col-4">
            <button type="button" class="btn btn-outline-info">Transfer Warehouse</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-info">Receive Goods</button>
        </div>
    </div>
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Supplier</th>
                <th>Receiver</th>
                <th>Warehouse</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">t</td>
                <td>tr</td>
                <td>trt</td>
                <td>df</td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>
