
<div class="tab-pane fade" id="requisitions" role="tabpanel" aria-labelledby="details-Tab">
    <table class="table table-{1:hover}">
        <thead class="thead-inverse">
            <tr>
                <th>Project</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
    </table>
</div>