<div class="tab-pane fade" id="writeoffs" role="tabpanel" aria-labelledby="details-Tab">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Reason</th>
                <th>Personnel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
